<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
    <div class="col-8 offset-3 mt-3 show-listing-div">
        <h3><%= listing.title %></h3>
            <div class="card card-show" style="width: 80%;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="" style="height: 33vh">
                <div class="card-body">
                    <b><i>Owned By : <%=listing.owner.username  %> </i></b>
                    <li><%= listing.description %></li>
                    <li>₹<%= listing.price %> / night</li>
                    <li><%= listing.location %></li>
                    <li><%= listing.country %></li>
                </div>

                <!-- Booking Option -->
                <% if(!currUser || !currUser._id.equals(listing.owner._id)) { %>
                <form class="d-grid gap-2 col-6 offset-3 mx-auto" method="get" action="/listings/<%=listing._id%>/payment">
                    <div>
                    <p style="display:inline-block;">Tickets :</p>
                    <input type="number" min="1" max="5" name="quantity" class=" col-4" required style="text-align: center;" required
                    oninvalid="this.setCustomValidity('min 1 and max 5 tickets are available')" oninput="this.setCustomValidity('')">
                    </div>
                    <button class="btn btn-primary">Confirm</button>
                </form>
                <% } %>
            </div>

            <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="row">
                <div class="col-sm-6 col-xs-8">
                    <form action="/listings/<%= listing._id %>/update" method="get">
                        <button class="btn btn-primary">Edit This listing</button>
                    </form>
                </div>
                <br><br>
                <div class="col-sm-6 col-xs-8">
                    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delet this Listing</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>

    <hr>
    <form class="col-8 offset-3 mb-4 needs-validation box-review" novalidate action="/listings/<%= listing._id%>/reviews" method="post">
        <h4>Add a Review</h4>
        <fieldset class="starability-grow">
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="3" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" name="comment" required></textarea>
            <label for="floatingTextarea">feedback</label>
            <div class="invalid-feedback">
                Please add feedback.
            </div>
        </div>
        <br>
        <button class="btn btn-outline-primary">Submit</button>
    </form>
    <hr>

    <div class="col-8 offset-3 mb-4 box-review">
        <h4>All Reviews</h4>
        <br>
        <div class="row">
            <% for(review of listing.reviews) { %>
                <div class="review-div card col-lg-5 mb-3 ms-3">
                    <h5><%=review.author.username%></h5>
                    <p><%=review.comment%></p>
                    <div>
                        <% for(let i=1; i<=review.rating; i++) { %>
                            <span class="fa fa-star checked"></span>
                        <% } %>
                        <% for(let i=review.rating; i<5; i++) { %>
                            <span class="fa fa-star unchecked"></span>
                        <% } %>
                    </div>
                    <br>
                    <% if(currUser && currUser._id.equals(review.author._id)) { %>
                    <form action="/listings/<%= listing._id%>/reviews/<%= review._id%>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-dark mb-3">Delete</button>
                    </form>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>
